.section-plans{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    padding-bottom: 20px;
    overflow: hidden;
    opacity: 0.9;
}
.plan-box{
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.row2{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
}
.plan-box:hover {
    transform: scale(1.05);
  }
.plan-box div{
    padding: 15px;
    border-bottom: 1px dashed #8C1D2F;
}
.plan-price{ 
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: white;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
    color: wheat;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:first-child{
    background-color: #8C1D2F;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
}

h1,h2,h3{
    font-family: 'Lato','sans-serif','Arial';
    font-weight: 300;
    text-transform: uppercase;
}
h1{ 
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
h2{
    font-size: 2.3em;
    margin-bottom: 20px;
    color: #420d16;
    margin: 0 auto;
}
h2::after{
    display: block;
    height: 2px;
    background-color: #8C1D2F;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-full {
  background-color: #8C1D2F;
    color: #fff;
  }
  
  .btn-ghost {
    background-color: #fff;
    color: #8C1D2F;
    border: 0.5px solid #8C1D2F;
  }
  
  .btn:hover {
    background-color: transparent;
    border: 0.5px solid #8C1D2F;
    transition: 0.3s;

    color: black;
  }
  .btn-ghost:hover{
    background-color: #8C1D2F;
    color: #fff;
    transition: 0.3s;
  }
  .col3{
    width: 30%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    height: auto;
    
  }


  


@media only screen and (max-width: 1200px){

}

/* small tablets to big tablets: from 768 px to 1023px */

@media only screen and (max-width: 1023px){
  .section-plans h2 {
    font-size: 1.8rem;
  }

  .plan-price{ 
    font-size: 240%;
  }
  .plan-price span{
    font-size: 40%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 70%;
    color: wheat;
}
h3{
    font-size: 100%;
    margin-bottom: 15px;
}
.plan-box ul li{
    padding: 5px 0;
    font-size: 14px;
}
}

/* small phones to small tablets: from 480 px to 767px */

@media only screen and (max-width: 767px){
  .section-plans h2 {
    font-size: 1.6rem;
  }
  .row2{
   flex-direction: column;
    width: 100%; 
    height: 90%;
    margin-top: 0%;

  }
  .section-plans{
    height: 320vh;
  }

  .plan-price{ 
    font-size: 220%;
  }
  .plan-price span{
    font-size: 40%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 60%;
    color: wheat;
}
h3{
    font-size: 90%;
    margin-bottom: 15px;
}
.plan-box ul li{
    padding: 5px 0;
    font-size: 15px;
}
.col3{
    width: 90%;
    margin-bottom: 1%;
}
.btn {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;

    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
}

/* small phones: from 0 px to 480px */

@media only screen and (max-width: 480px){
  .row2{
    flex-direction: column;

    width: 100%; 
    height: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .section-plans {
    height: auto;
  }
  .section-plans h2 {
    font-size: 1.2rem;
  }
  .col3{
    width: 90%;

    height: 28%;
    
  }
}
