


.last-list{
    background-color: #27080b;
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.fch {
    display: flex;
    list-style: none;
    margin-left: 70px;
}
.sch {
    display: flex;
    list-style: none;
    margin-right: 70px;
}
.fch li{
    color: #ccc;
    margin-right: 10px;
    margin-top: 40px;
}
.fch li a{
    text-decoration: none;
    color: #ccc;
}
.fch li a:hover{
    border-bottom: 1.5px solid #8C1D2F;
    color: #ffff;
    padding: 4px 0;
}
.sch  li{
    margin-right: 20px;
    margin-top: 40px;
    color: #ccc;
}

.last-list p{
    color: #ccc;
    text-align: center;
    font-size: 90%;
    margin-top: 50px;
    padding-bottom: 50px;
}




@media only screen and (max-width: 1200px){

}

/* small tablets to big tablets: from 768 px to 1023px */

@media only screen and (max-width: 1023px){

}

/* small phones to small tablets: from 480 px to 767px */

@media only screen and (max-width: 767px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .fch {
        display: flex;
        list-style: none;
        margin-left: 0px;
    }
    .sch {
        display: flex;
        list-style: none;
        margin-right: 0px;
    }
}

/* small phones: from 0 px to 480px */

@media only screen and (max-width: 480px){
    .footer li a{
        font-size: 15px;
    }
    .last-list p{
        font-size: 14px;
    }

}
