.menu-flex1{
    position: absolute;
    top: -5%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.image-preview{
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.image-preview img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}