@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    box-sizing: border-box;

}
ion-icon{
    color: #8C1D2F;
    font-size: 20px;
  }
.languageGlobeIcon{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.enter-box1{
    position: absolute;
    top: 15%; 
    left: 20%; 
    margin-top: 20%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 40%;
    height: 60%;
   
    border: 0.5px #D9D9D9 solid;
    border-radius: 10px;
}
.auth-name1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    margin: 1% auto;
    margin-bottom: 0px;
    border: 0.5px #D9D9D9 solid;

}

.auth-name1 h3{
    font-size: 24;
    font-weight: 900;
}
.form{
    padding: 30px 40px;

}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}
.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border: 0.5px solid #f0f0f0;
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    font-size: 12px;
}
.form-control input:focus{
    outline: none;
    border-color: #777;

}



.form-control small{
    color: #f50830;
    position: absolute;
    bottom: 2%;
    left: 0;
    font-size: 13px;
}

.form button{
    cursor: pointer ;
    background-color: #3498DB;
    border: 0.5px solid #3498DB;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    width: 50%;
    padding: 0px;
    margin-top: 15px;
   
    z-index: 200;

}
.form button:hover{
    transform: scale(1.05);
    transition: 0.3s;
  }

.form-control1 label{
    color: #0075fb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 102%;
    color: #8C1D2F;
}
.enter-span{
    cursor: pointer;
    display: block;
    margin-top: 5px;
    color: #8600fb;
}
.password-toggle-div{
    position: absolute;
    top: 0%;
    left: 90%;
}
.password-forgot{
    color: #8C1D2F;

    cursor: pointer;
    font-size: 13px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
@media only screen and (max-width: 767px){
    .enter-box{
        width: 300px;
    }

}

