*{
  margin: 0;
  padding: 0;

}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #3498db; 
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); 
}
.userName{
  display: flex;
  align-items: center;
  
}

.register h3{
  margin-left: 2px;
  color: white;
  cursor: pointer;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.main-words{
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 70%;

}
.main-words1{
  position: absolute;
  top: 30%;
  left: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 70%;

}
.bookButons{
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: absolute;
  top: 60%;
  left: 30%
}
.main-words h1,.main-words1 h1{
  color: white;
letter-spacing: 5px; 
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.book-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 40%;
  /* transform: translate(-50%, -50%); */
  width: 200px;
  height: 40px;
  outline: none;
  background-color: rgb(234, 178, 11);
  border: 1px solid rgb(234, 178, 11);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;

}

.book-button:hover{
  transform: scale(1.01);
  transition: 0.3s; 
  color: black;

} 




.book-button1{
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* transform: translate(-50%, -50%); */
  width: 200px;
  height: 50px;
  outline: none;
  background-color: rgb(234, 178, 11);
  border: 1px solid rgb(234, 178, 11);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}
.book-button2{
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* transform: translate(-50%, -50%); */
  width: 200px;
  height: 50px;
  outline: none;
  background-color: rgb(237, 219, 166);
  border: 1px solid rgb(208, 157, 3);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.book-button1:hover{
  transform: scale(1.01);
  transition: 0.3s; 
  color: black;

}
.book-button2:hover{
  transform: scale(1.01);
  transition: 0.3s; 
  color: white;
  background-color: rgb(234, 178, 11);

}
/* Add this to your existing CSS or create a new stylesheet */
.restaurant-interface {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition:  0.5s ease-in-out, opacity 1s ease-in-out;
}

.restaurant-interface.fade-in {
  opacity: 0.8;
  transition: 0.5s;
}

.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.left-arrow {
  transform: scaleX(-1);
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}

.arrow-button:hover {
  color: #ffc107;

}


.register,.enter,.requests,.favorites,.home,.book,.login-nav,.register1{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-bottom: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.register:hover,.register1:hover,.requests:hover,.favorites:hover,.home:hover,.book:hover,.login-nav:hover{
  transition: 0.3s;
  color: rgb(234, 178, 11);
}
.stick{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.5%;
  background-color: #fff;
  box-shadow: 0 2px 2px #efefef;
  z-index: 20;
  transition: 0.5s;
}
.stick .line{
  border-bottom: white;
}
.waypointSpan{
  position: absolute;
  top: 480px;
}
.stick .title{
  margin-top: 1%;
}

.line{
  position: absolute;
  top: 13%;
  width:  100%;
  height: 2px;
  border-bottom: 0.1px solid rgb(210, 210, 210);
}

.title{
  position: absolute;
  top: 0;
  left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
  margin-top: 2%;
}

.header__logo{
  height: 8vh;
  margin-right: 10px;
}

.register{
  position: absolute;
  top: 5%;
  right: 11.5%;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.register1{
  position: absolute;
  top: 5%;
  right: 5.5%;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.registration:hover{
  color: rgb(234, 178, 11);
  transform: scale(1.1);
  transition: 1s;
}

.login-nav{
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.login-nav:hover{
  color: rgb(234, 178, 11);
  
}
.slash{
  color: white;
  position: absolute;
  top: 5%;
  right: 10.3%;
  font-size: 25px;
}

.ul-tt-1{
  position: absolute;
  left: 30%;
  top: 4.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;

} 
.ul-tt-1 li{
  text-decoration: none;
  margin-left: 50px;
  height: 50px;
}
.stick .ul-tt-1{
  top:30%
}

.stick .login-nav,.stick .register,.stick .register1,.stick .slash,.stick .requests,.stick .favorites,.stick .home,.stick .book,.stick .title span ,.stick .ul-tt span,.stick .usernameForShow{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top:30%

}
.stick .login-nav:hover,.stick .register1:hover,.stick .register:hover:hover,.stick .requests:hover,.stick .favorites:hover,.stick .home:hover,.stick .book:hover,.stick .title span ,.stick .ul-tt span{
color: rgb(171, 133, 18);
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

