*{
  margin: 0;
  padding: 0;

}
html{
  background-color: #D9D9D9;
}
body::-webkit-scrollbar {
  width: 7px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #53111c; 
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); 
}
.userName{
  display: flex;
  align-items: center;
  
}

.register h3{
  margin-left: 2px;
  color: white;
  cursor: pointer;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.main-words{
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 70%;

}
.main-words1{
  position: absolute;
  top: 30%;
  left: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 70%;

}
.bookButons{
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: absolute;
  top: 60%;
  left: 30%
}
.main-words h1,.main-words1 h1{
  color: white;
letter-spacing: 5px; 
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 40px;
  outline: none;
  background-color: #8C1D2F;
  border: 1px solid #8C1D2F;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  transition: transform 0.3s; /* Apply transition to transform property */
  opacity: 0.8;
}

.book-button:hover {
  transform: translate(-50%, -50%) scale(1.15); /* Combine transformations */
  color: white;
  opacity: 1;

}




.book-button1{
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* transform: translate(-50%, -50%); */
  width: 200px;
  height: 50px;
  outline: none;
  background-color: #8C1D2F;
  border: 1px solid #8C1D2F;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}
.book-button2{
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* transform: translate(-50%, -50%); */
  width: 200px;
  height: 50px;
  outline: none;
  background-color: rgb(237, 219, 166);
  border: 1px solid #8C1D2F;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.book-button1:hover{
  transform: scale(1.01);
  transition: 0.3s; 
  color: black;

}
.book-button2:hover{
  transform: scale(1.01);
  transition: 0.3s; 
  color: white;
  background-color: #8C1D2F;

}
/* Add this to your existing CSS or create a new stylesheet */
.restaurant-interface {
  height: 100vh;
  background-size: 100% 100%; /* or 100% 100% */
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.background-video {
  position: fixed; /* Position the video absolutely within the header */
  top: 0;
  left: 0;
  width: 100%; /* Make the video cover the entire header width */
  height: 100%; /* Make the video cover the entire header height */
  object-fit: fill; /* Ensure the video covers the entire container */
  z-index: -1; /* Place the video behind other content */
}

.restaurant-interface.fade-in {
  opacity: 0.8;
  transition: 0.5s;
}

.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.left-arrow {
  transform: scaleX(-1);
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}

.arrow-button:hover {
  color: #8C1D2F;

}


.register,.enter,.requests,.favorites,.home,.book,.login-nav,.register1{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.register:hover,.register1:hover,.requests:hover,.favorites:hover,.home:hover,.book:hover,.login-nav:hover{
  transition: 0.3s;
  color: #8C1D2F;
}
.stick{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 12%;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 2px #efefef;
  z-index: 20;
  transition: 0.5s;
}
.stick .line{
  border-bottom: white;
}
.waypointSpan{
  position: absolute;
  top: 480px;
}
.stick .title{
  margin-top: 0.5%;
}

.line{
  position: absolute;
  top: 15%;
  width:  100%;
  height: 2px;
  border-bottom: 0.1px solid rgb(210, 210, 210);
}

.title{

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.title img{
  width: 50px;
  height: auto;
}
.header__logo{
  height: 8vh;
  margin-right: 10px;
}

.register{

  color: white;
  cursor: pointer;
  font-size: 20px;
}
.register1{

  color: white;
  cursor: pointer;
  font-size: 20px;
}

.registration:hover{
  color: #8C1D2F;
  transform: scale(1.1);
  transition: 1s;
}

.login-nav{
  color: white;
 
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.login-nav:hover{
  color: #8C1D2F;
  
}
.slash{
  color: white;
  position: absolute;
  top: 5%;
  right: 10.3%;
  font-size: 25px;
}


.ul-tt-1{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
cursor: pointer;
} 
.ul-tt-1 li{
  text-decoration: none;
  margin-right: 70px;
}
.stick .ul-tt-1{
  top:30%
}

.stick .login-nav,.stick .register,.stick .register1,.stick .slash,.stick .requests,.stick .favorites,.stick .home,.stick .book,.stick .title span ,.stick .ul-tt,.stick .ul-tt-1 span,.stick .usernameForShow{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.stick .login-nav:hover,.stick .register1:hover,.stick .register:hover:hover,.stick .requests:hover,.stick .favorites:hover,.stick .home:hover,.stick .book:hover,.stick .title span ,.stick .ul-tt span{
color: #8C1D2F;
}
nav{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
  align-items: center;
  margin: 0 auto;
  /* border-bottom: 1px solid rgb(210, 210, 210); */
}
nav ion-icon{
  color: white;
  font-size: 17px;
}

.ul-tt-1-bar{
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
cursor: pointer;
width: 20%;
margin-right: 3%;
margin-top: 10%;
}
.ul-tt-1-bar li{
  text-decoration: none;
  margin-bottom: 10px;
}
.close-icon{
position: absolute;
right: 0;
top: 0;  visibility: hidden;

}
.open-icon{
  position: absolute;
  right: 5%;
  top: 7%;  visibility: hidden;

  }

@media only screen and (max-width: 1200px){

.ul-tt-1 li{
  margin-right: 60px;
  
}
.ul-tt-1-bar{
  display: none;
}
.open-icon{
  visibility: hidden;
}
.close-icon{
  visibility: hidden;
}
}

/* small tablets to big tablets: from 768 px to 1023px */

@media only screen and (max-width: 1023px){
  .ul-tt-1 li{
    margin-right: 40px;
  }
  .title{
    font-size: 18px;
  }
  .title img{
    width: 40px;
  }
  .line{
    top: 13%;
  }
  .register,.enter,.requests,.favorites,.home,.book,.login-nav,.register1{
    font-size: 18px;
  }

  .ul-tt-1-bar{
    display: none;
  }
  .open-icon{
    visibility: hidden;
  }
  .close-icon{
    visibility: hidden;
  }
  .book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    
  }
  
  .book-button:hover {
    transform: translate(-50%, -50%) scale(1.15); /* Combine transformations */
    color: white;
    opacity: 1;
  
  }
}

/* small phones to small tablets: from 480 px to 767px */

@media only screen and (max-width: 767px){
.nonStick .ul-tt-1,.nonStick .ul-tt{
  display: none;

}
.nonStick .ul-tt-1-bar{
  display: flex;
}
.nonStick .open-icon{
  visibility: visible;
}
.nonStick .close-icon{
  visibility: visible;
}
.title{
  font-size: 15px;
}
.register,.enter,.requests,.favorites,.home,.book,.login-nav,.register1{
  font-size: 15px;
}
.stick .login-nav,.stick .register,.stick .register1,.stick .slash,.stick .requests,.stick .favorites,.stick .home,.stick .book,.stick .title span ,.stick .ul-tt,.stick .ul-tt-1 span,.stick .usernameForShow{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
.stick .login-nav:hover,.stick .register1:hover,.stick .register:hover:hover,.stick .requests:hover,.stick .favorites:hover,.stick .home:hover,.stick .book:hover,.stick .title span ,.stick .ul-tt span{
color: #8C1D2F;
}
.stick .ul-tt-1 li{
  margin-right: 20px;
}
.title img{
  width: 35px;
}
.line{
  display: none;

}
}

/* small phones: from 0 px to 480px */

@media only screen and (max-width: 480px){
  .title img{
    width: 25px;
  }
  .line{
    display: none;
  
  }
  .stick .login-nav,.stick .register,.stick .register1,.stick .slash,.stick .requests,.stick .favorites,.stick .home,.stick .book,.stick .title span ,.stick .ul-tt,.stick .ul-tt-1 span,.stick .usernameForShow{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }
  .title{
    font-size: 13px;
  }
  .register,.enter,.requests,.favorites,.home,.book,.login-nav,.register1{
    font-size: 13px;
  }
}