/* Reset some default styles */
@font-face {
  font-family: 'YourCustomFont';
  src: url('../../../public/fonts/bpg_nino_mtavruli_bold.ttf') format('truetype');
}

/* Apply a simple font style */

.aboutH2{
  color: #8C1D2F;
}



/* Style the section */
.section-features {
  background-color: #f4f4f4;
  padding: 0px 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 120vh;
  align-items: center;
justify-content: space-around;
}

/* Style the heading */
.section-features .aboutH2 {
  font-size: 2.3em;
  margin-bottom: 20px;
  color: #420d16;
  margin-top: 5%;
}

/* Style the long copy */
.section-features .long-copy {
  font-size: 1.2em;
  color: #420d16;
}

.about-us-section{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 45%;
}

/* .flip-card {
  background-color: transparent;
  width: 22%;
  height: 110%;
  font-family: sans-serif;
}

.title-flip {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.backside-about-us{
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us-icons{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us-icons ion-icon{
  color: wheat;
  font-size: 200%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg) translateY(-10px);


}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #fffefe ;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, rgba(107,22,35,1) 18%, rgba(107,22,35,1) 53%, rgba(107,22,35,1) 96%);

  color: wheat;
  border: 2px solid #efe4e6;
}

.flip-card-back {
  background: linear-gradient(60deg, rgba(107,22,35,1) 18%, rgba(107,22,35,1) 53%, rgba(107,22,35,1) 96%);

  color: white;
  transform: rotateY(180deg);
} */



.card1 {
  width:  22%;
  height: 70%;
  padding: 0.5rem;
  background: #8C1D2F;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(5deg);
  transition: .4s;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card1 ion-icon{
  color: wheat;
  font-size: 200%;
}
.card1:hover {
  height: 100%;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
  height: 20%;
}
.card1 p{
 
  font-size: 15px;
}
.card1 div:last-child{
  height: 25%;
}
.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fffada;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card1 .card1-div {
  margin-bottom: 20%;
  margin-top: 20%;
  height: 60%;
}

.card1-div h1{
  font-size: 15px;
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  color: white;
  text-align: center;

}



@media only screen and (max-width: 1200px){

  .section-features{
    justify-content: space-around;
    height: 100vh;
  }
  .card1 .card1-div {
    margin-bottom: 22%;
    margin-top: 22%;
    height: 60%;
  }

  .section-features .aboutH2 {
    font-size: 2rem;
  }
  .section-features .long-copy {
    font-size: 1.6em;
  }
  }
  
  /* small tablets to big tablets: from 768 px to 1023px */
  
  @media only screen and (max-width: 1023px){
    .section-features .aboutH2 {
      font-size: 1.8rem;
    }
    .section-features .long-copy {
      font-size: 1em;
    }
    .about-us-section{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
      grid-gap: 0%; /* Adjust the gap between items */  
      width: 100%; 
      height: 90%;
      margin-bottom: 2%;
    }
    .card1 {
      width: 90%;
      height: 55%;
      font-family: sans-serif;
      margin: 0 auto;
    }
    .section-features {
      height: 120vh;
    }
    .card1 .card1-div {
      margin-top: 10%;
      height: 60%;
    }
    
    .card1-div h1{
      font-size: 13px;
      text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
      color: white;
      text-align: center;
    
    }.card1 p{
 
      font-size: 14px;
    }
   
  }
  
  /* small phones to small tablets: from 480 px to 767px */
  
  @media only screen and (max-width: 767px){
    .section-features .aboutH2 {
      font-size: 1.6rem;
    }
    .section-features .long-copy {
      font-size: 0.9em;
    }



    .about-us-section{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
      grid-gap: 0%; /* Adjust the gap between items */  
      width: 100%; 
      height: 90%;
      margin-bottom: 2%;
    }
    .card1 {
      width: 90%;
    }
    .card1 div:last-child{
      height: 30%;
    }
    .card1 p{
 
      font-size: 12px;
    }
  }
  
  /* small phones: from 0 px to 480px */
  
  @media only screen and (max-width: 480px){
    .about-us-section{
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* Two columns with equal width */
      grid-gap: 0%; /* Adjust the gap between items */  
      width: 80%; 
      height: 100%;
      margin-bottom: 5%;
      margin-top: 5%;

    }
    .card1 {
      width: 100%;
    }
    .card1 .card1-div {
      margin-top: 10%;
      height: 60%;
    }
    
    .section-features {
      height: 200vh;
    }
    .section-features .aboutH2 {
      font-size: 1.4rem;
    }
    .section-features .long-copy {
      font-size: 0.7em;
    }

    .title-flip {
      font-size: 0.8em;
      font-weight: 800;

    }

  }

